<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4 class="text-left">Eventos Token Usuario: {{authUser.username}}</h4>
    </div>
    <div class="col-md-6 col-sm-12 d-flex justify-content-end">
      <button class="btn btn-primary" routerLink='evento/false/0'>+ Criar evento</button>
    </div>
  </div>

  <hr />

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-12 col-md-4" *ngFor="let evento of evento">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{evento.titulo | descricaoReduzida:25}}</h4>
          <p class="card-text">{{evento.descricao | descricaoReduzida:60}}</p>
        </div>
        <div class="card-footer card-block">
          <p class="text-muted">Data: {{evento.data}}</p>
          <p class="text-muted">Horario: {{evento.horaInicio}} ás {{evento.horaFim}}</p>

          <div class="d-flex justify-content-between" *ngIf="updateIs(evento.userId)">
            <button class="btn btn-primary btn-sm" type="button" (click)="enviarEvento(evento.id)">Convidar</button>
            <button class="btn btn-primary btn-sm" type="button" (click)="enviarEvento(evento.id)">Editar</button>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>