<div class="container-fluid">
  <div class="row">
    <div class="col-4" >Preencha as informações para criar seu evento !!!</div>
    <div class="col-8">
      <div class="form-group row">
        <label for="example-text-input" class="col-sm-2 col-form-label">Titulo:</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" value="" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-date-input" class="col-sm-2 col-form-label">Data:</label>
        <div class="col-sm-7">
          <input class="form-control" type="date" value="" id="example-date-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-time-input" class="col-sm-2 col-form-label">Hora de inicio:</label>
        <div class="col-sm-7">
          <input class="form-control" type="time" value="" id="example-time-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-time-input" class="col-sm-2 col-form-label">Hora do fim:</label>
        <div class="col-sm-7">
          <input class="form-control" type="time" value="" id="example-time-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleTextarea" class="col-sm-2 col-form-label">Descrição:</label>
        <div class="col-sm-7">
          <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 d-flex justify-content-end">
      <button type="button" class="btn btn-primary">Salvar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>