<div class="container-fluid">
  <form [formGroup]="formulario" novalidate (ngSubmit)="salvarEvento()">
    <div class="row">
      <div class="col-md-4" ><p class="text-center">Preencha as informações ao lado para criar um evento:</p></div>
      <div class="col-md-8">
        <div class="form-row">
          <div class="form-group col-md-8">
              <small *ngIf="formulario.get('titulo').valid && formulario.get('titulo').touched" class="form-text text-success">Ok</small>
              <small *ngIf="!formulario.get('titulo').valid && formulario.get('titulo').touched" class="form-text text-danger">Campo incorreto !!!</small>
            <input 
              class="form-control" 
              type="text"
              placeholder="Titulo" 
              formControlName="titulo">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
              <small *ngIf="verificaData() && formulario.get('data').valid && formulario.get('data').touched" class="form-text text-success">Ok</small>
              <small *ngIf="verificaData() && !formulario.get('data').valid && formulario.get('data').touched" class="form-text text-danger">Campo incorreto !!!</small>
              <small *ngIf="!verificaData() && formulario.get('data').touched" class="form-text text-danger">"A data do evento não pode ser menor que a data atual"</small>
            <input 
              class="form-control" 
              type="text"
              onfocus="(this.type='date')" 
              onblur="(this.type='date')"
              placeholder="Data"
              formControlName="data">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
              <small *ngIf="formulario.get('horaInicio').valid && formulario.get('horaInicio').touched" class="form-text text-success">Ok</small>
              <small *ngIf="!formulario.get('horaInicio').valid && formulario.get('horaInicio').touched" class="form-text text-danger" id="divNg">Campo incorreto !!!</small>
            <input 
              class="form-control" 
              type="text"
              onfocus="(this.type='time')" 
              onblur="(this.type='text')"
              placeholder="Horario de inicio"
              formControlName="horaInicio">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
              <small *ngIf="formulario.get('horaFim').valid && formulario.get('horaFim').touched" class="form-text text-success">Ok</small>
              <small *ngIf="!formulario.get('horaFim').valid && formulario.get('horaFim').touched" class="form-text text-danger">Campo incorreto !!!</small>
              <small *ngIf="!verificaHora()" class="form-text text-danger">Hora de término precisa ser maior que a hora de inicio do evento</small>
            <input 
              class="form-control" 
              type="text"
              onfocus="(this.type='time')" 
              onblur="(this.type='text')"
              placeholder="Horario final"
              formControlName="horaFim">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
              <small *ngIf="formulario.get('descricao').valid && formulario.get('descricao').touched" class="form-text text-success">Ok</small>
              <small *ngIf="!formulario.get('descricao').valid && formulario.get('descricao').touched" class="form-text text-danger">Campo incorreto !!!</small>
            <textarea 
            class="form-control" 
            placeholder="Descrição"
            formControlName="descricao" 
            rows="3"
            ></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 d-flex justify-content-end">
            <div *ngIf="option == 'false'">
              <button  type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-secondary btn-sm" routerLink='/home'>Cancelar</button>
            </div>
            <div *ngIf="option == 'true'">
              <button  type="button" class="btn btn-primary" (click)="atualizarEvento()">Atualizar</button>
              <button type="button" class="btn btn-secondary btn-sm" routerLink='/home'>Cancelar</button>
              <button 
                type="button" 
                class="btn btn-danger btn-sm" 
                (click)="deletarEvento()"
              >Deletar</button>
            </div>
          </div>
          <div class="col-md-8" *ngIf="mensagem">
            <h5 class="text-center">{{msg}}</h5>
          </div>
        </div>
      </div> 
    </div>
  </form>
</div>